.numbers {
	position: relative;
	left: calc(50% - 450px);
	top: 100px;
	width: 900px;
	height: 500px;
	font-size: 6em;
	border: 2px solid lightblue;
	border-radius: 17px;
	background-color: #ccf3ff;
}

/* .positioning {
	position: relative;
	top: 20%;
	height: calc(100vh - 20%);
} */