body {
	font-family: 'Roboto', sans-serif;
	background-color: #DBF1FF;
}

/* START BUTTON FONT: */
@font-face {
	font-family: 'SEGA LOGO FONT';
	font-style: normal;
	font-weight: normal;
	src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
}

/* Timer Font: */
@font-face {
	font-family: 'Mission Script';
	font-style: normal;
	font-weight: normal;
	src: local('Mission Script'), url('Mission-Script.woff') format('woff');
}

.button-container {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.start {
	font-size: 4em;
	color: #0ccac4;
	font-family: 'SEGA LOGO FONT', calibri;
	border-radius: 400px;
	width: 400px;
	height: 400px;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.main-wrapper {
	width: 100%;
	height: 100vh;
}

.center {
	display: flex;
	justify-content: center;
}

.timer-wrapper {
	font-family: 'Mission Script';
	text-transform: uppercase;
  position: relative;
	left: calc(50% - 150px);
	padding: 0;
	margin: 0;
	top: 20px;
	width: 300px;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  color: #aaa;
	font-size: 2.7em;
}

.value {
  font-size: 50px;
}

.info {
  max-width: 360px;
  margin: 40px auto 0;
  text-align: center;
  font-size: 16px;
}
